<%= form_tag password_resets_path, :method => :post, :class => "form-signin" do %>
  <h2 class="form-signin-heading">Forgot your password?</h2>
  <hr class="marginhr">
  <div class="field">
  <h5 class="h5title">Email</h5>
  <div class="input-group">
    <%= text_field_tag :email, nil, class: "form-control", :'aria-describedby' => "basic-addon2" %>
    <span class="input-group-addon" id="basic-addon2">@snu.ac.kr</span>
  </div>
  </div>
  <div class="actions">
    <%= submit_tag "Reset my password", class: "btn btn-lg btn-primary btn-block login" %>
  </div>
<% end %>
