Welcome to SNUBOOKS, <%= @user.email %>
===============================================

You have successfully signed up to SNUBOOKS.

To login to the site, just follow this link:<br />
<a href="<%= @url %>"><%= @url %></a>.

Thanks for joining and have a great day!
